################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ListOfGoods/packages
/ListOfGoods/.vs/ListOfGoods/v14
/ListOfGoods/ListOfGoods/ListOfGoods/obj/Debug
/ListOfGoods/ListOfGoods/ListOfGoods.Droid/obj/Debug
/ListOfGoods/ListOfGoods/ListOfGoods.iOS
/ListOfGoods/ListOfGoods/ListOfGoods.UWP/obj/x86/Debug
/ListOfGoods/ListOfGoods/ListOfGoods.Windows/obj/Debug
/ListOfGoods/ListOfGoods/ListOfGoods.WinPhone/obj/Debug
/ListOfGoods/ListOfGoods/ListOfGoods/bin/Debug
/ListOfGoods/ListOfGoods/ListOfGoods.UWP/bin/x86/Debug
/ListOfGoods/ListOfGoods/ListOfGoods.UWP/bin/ARM/Debug
/ListOfGoods/ListOfGoods/ListOfGoods.UWP/obj/ARM/Debug
/ListOfGoods/ListOfGoods/ListOfGoods.Windows/obj/ARM/Debug
/ListOfGoods/ListOfGoods/ListOfGoods.WinPhone/obj/ARM/Debug
